name: Check-MDX

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check-mdx:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Get changed files
        id: get_changed
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo "changed=$(git diff --name-only $(git merge-base origin/main HEAD) HEAD)" | paste -sd "," - >> $GITHUB_ENV

      - name: Run MDX check
        if: ${{ env.changed != '' }}
        run: |
          cd scripts/check-mdx
          npm install
          node check-mdx.js '${{ env.changed }}'
