# Contributors: @wicksipedia @william-liebenberg
# < as per SSW.Rules: https://www.ssw.com.au/rules/standard-set-of-pull-request-workflows/ >

name: "PR - t-shirt size the pr"

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  triage:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      statuses: write
      
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: microsoft/PR-Metrics@v1.7.5
        name: PR Metrics
        env:
          PR_METRICS_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          base-size: 20
          growth-rate: 2.0
          test-factor: 0
          code-file-extensions: |
            md
        continue-on-error: true
